<!-- sidebar -->
<div class="side">
  <br/>
  <h2> Category </h2>
  <!-- Matlab -->
  <div class="memo-post-list">

  <details>
    <summary> Matlab </summary>
    {% for post in site.tags['memo'] %}
    {% if post.category == 'jp' %}
    {% if post.cont == 'Matlab' %}
    {% if post.draft != true %}
    <a href="{{ post.url | prepend: site.baseurl }}" >
      <span class="memo-post-sidebar">
        {{ post.title_jp }} <br/>
      </span>
    </a>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}
  </details>
  <!-- Github -->
  <details>
    <summary> GitHub </summary>
    {% for post in site.tags['memo'] %}
    {% if post.category == 'jp' %}
    {% if post.cont == 'GitHub' %}
    {% if post.draft != true %}
    <a href="{{ post.url | prepend: site.baseurl }}" >
      <span class="memo-post-sidebar">
        {{ post.title_jp }} <br/>
      </span>
    </a>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}
  </details>

  <!-- Links -->
  <details>
    <summary> Links </summary>
    {% for post in site.tags['memo'] %}
    {% if post.category == 'jp' %}
    {% if post.cont == 'Links' %}
    {% if post.draft != true %}
    <a href="{{ post.url | prepend: site.baseurl }}" >
      <span class="memo-post-sidebar">
        {{ post.title_jp }} <br/>
      </span>
    </a>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}
  </details>

<!--  <!-- Diary -->
<!--  <details>-->
<!--    <summary> Others </summary>-->
<!--    <a href="/jp/diary" > <span class="memo-post-sidebar"> Diary </span> </a> <br/>-->
<!--    <a href="/jp/papers" > <span class="memo-post-sidebar"> Papers </span> </a> <br/>-->
<!--  </details>-->

</div>
</div>
