/**
 * Reset some basic elements
 */
body,
body_jp,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

/**
 * Basic styling
 */
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 400;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
}

/**
 * Basic styling -JP
 */
 body_jp {
  font-family: $base-font-family-jp;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
}

.side {
  // background-color:#ff838b;
  width: $sidebar-unit - $spacing-unit ;
  height: 500px;
  // text-align:center;
  // margin-left:$spacing-unit;/*サイドバーとメインコンテンツの間に隙間                    をあけた*/
}

.line {
  margin: 0 1rem;
  // width: 1px;
  background-color: lighten(#828282, 40%);
}

.mainbar {
  // background-color:#b3d874;
  width: $max_width_unit - $sidebar-unit;
  // height:100px;
  // text-align:center;
}

article {
  display:flex;/*サイドバーとメインコンテンツを横並びにする                指定をした*/
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
 * Lists
 */
ul,
ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */
h1 {
  font-weight: 600;
  font-family: "Futura", メイリオ, sans-serif;
};
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  font-family: "Futura", メイリオ, sans-serif;
}

h4 {
  font-size: 16px;
}

/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;
  //
  // &:visited {
  //   color: darken($brand-color, 15%);
  // }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}

/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 100%;
  letter-spacing: -0.5px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Wrapper
 */
.wrapper {
  // max-width: -webkit-calc( #{$max_width_unit} - (#{$spacing-unit} * 2));
  // max-width:         calc(#{$max_width_unit} - (#{$spacing-unit} * 2));
  max-width:         calc( #{$max_width_unit} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit *3;
  padding-left: $spacing-unit *3;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(800px - (#{$spacing-unit}));
    max-width:         calc(800px - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }

  position: relative;
}

/**
 * Clearfix
 */
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
 * Icons
 */
.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
  }
}

/**
 * Table
 */
table {
  table-layout: fixed;
  border-collapse: collapse;
  // width: 1015px;
  // width: calc( #{$max_width_unit} - ( #{$spacing-unit} * 2)) ;
  font-size: 14px;
  margin: 5px;
  text-align: left;
}
table th {
  color: black;
  padding: 5px;
  border-bottom: 2px solid ;

  &:nth-child(1) {
    width:5%;
    text-align: center;
  }
  &:nth-child(2) {
    width:25%;
  }
  &:nth-child(3) {
    width:30%;
  }
  &:nth-child(4) {
    width:20%;
  }
  &:nth-child(5) {
    width:7.5%;
  }
  &:nth-child(6) {
    width:10%;
  }
  &:nth-child(7) {
    width:7.5%;
  }
  &:nth-child(8) {
    width:12.5%;
  }

 }
table td {
  padding: 5px;
  color: black;
  border-bottom: 1px solid;

  &:nth-child(1) {
    width:5%;
    text-align: center;
  }
  &:nth-child(2) {
    width:25%;
  }
  &:nth-child(3) {
    width:30%;
  }
  &:nth-child(4) {
    width:20%;
  }
  &:nth-child(5) {
    width:7.5%;
  }
  &:nth-child(6) {
    width:10%;
  }
  &:nth-child(7) {
    width:7.5%;
  }
  &:nth-child(8) {
    width:12.5%;
  }

}

p.image_blog{
    text-align: center;
    max-width: 75%;
    vertical-align: middle;
    border: 1px gray solid;
    height: auto;
}

.btnarea {
  text-align: center;
  display: block;
}
