.blog-post-list {
  .blog-post-date {
    width: 7em;
    color: #333;
    display: block;
    float: left;
    font-size: $base-font-size *0.9 ;

    @include media-query($on-mobile) {
      display: block;
      width: -webkit-fill-available;
      float: left;
      color: #333;
      font-size: 12px;
      margin-top: 4px;
    }
  }

  .blog-post-cont {
    width: 6em;
    font-size: 100%;
    letter-spacing: normal;
    font-size: $base-font-size *0.95;
    font-weight: 500;
    display: block;
    float: left;

    @include media-query($on-mobile) {
      width: -webkit-fill-available;
      display: block;
      float: left;
      color: #333;
      font-size: 14px;
      // margin-top: 14px;
    }

  }

  .blog-post-title {
    font-size: 100%;
    letter-spacing: normal;
    font-size: $base-font-size *0.9;
    font-weight: 500;
  }
}
