.blog-post-list {
  .blog-post-date {
    width: 9em;
    color: #333;
    display: block;
    float: left;
    font-size: $base-font-size ;

    @include media-query($on-mobile) {
      display: block;
      float: none;
      color: #333;
      font-size: 11px;
      margin-top: 14px;
    }
  }

  .blog-post-cont {
    width: 7em;
    font-size: 100%;
    letter-spacing: normal;
    font-size: $base-font-size;
    font-weight: 500;
    display: block;
    float: left;
  }

  .blog-post-title {
    font-size: 100%;
    letter-spacing: normal;
    font-size: $base-font-size;
    font-weight: 500;
  }
}
