.blog-post-list {
  .blog-post-date {
    width: 7em;
    color: #777;
    display: block;
    float: left;
    font-size: 16px;

    @include media-query($on-mobile) {
      display: block;
      float: none;
      color: #333;
      font-size: 11px;
      margin-top: 14px;
    }
  }

  .blog-post-title {
    font-size: 100%;
    letter-spacing: normal;
    font-size: 16px;
    font-weight: 500;
  }
}


.side {
  // background-color:#ff838b;
  width:$sidebar-unit - $spacing-unit ;
  height:500px;
  // text-align:center;
  // margin-left:$spacing-unit;/*サイドバーとメインコンテンツの間に隙間                    をあけた*/
}

.line {
  margin: 0 1rem;
  // width: 1px;
  background-color: $grey-color-light;
}

.mainbar {
  // background-color:#b3d874;
  width: $max_width_unit - $sidebar-unit;
  // height:100px;
  // text-align:center;
}

article {
  display:flex;/*サイドバーとメインコンテンツを横並びにする                指定をした*/
}
