.memo-post-list {
  
  .memo-post-date {
    width: 7em;
    color: #777;
    display: block;
    float: left;
    font-size: 16px;

    @include media-query($on-mobile) {
      display: block;
      float: none;
      color: #333;
      font-size: 12px;
      margin-top: 14px;
    }
  }

  .memo-post-title {
    font-size: 100%;
    letter-spacing: normal;
    font-size: 18px;
    font-weight: 500;
  }

  .memo-post-sidebar {
    font-size: 100%;
    letter-spacing: normal;
    font-size: 14px;
    font-weight: 500;

    @include media-query($on-mobile) {
      font-size: 100%;
      letter-spacing: normal;
      font-size: 12px;
      font-weight: 500;
      margin-top: 30px;
    }
  }

}
