.work-item {
  clear: both;
  overflow: hidden;
  padding-bottom: 3em;
  width:$sidebar-unit - $spacing-unit ;
}

.work-bubble {
  float: left;
  padding-right: 20px;
  width: 100px;
  height: 100px;
}
