<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="home">
          <img
            src="{{ page.profile_picture.src | absolute_url }}"
            alt="{{ page.profile_picture.alt }}"
            height="300.9"
            width="300.1"
            class="profilepic"
            />
          <div align="justify">
                      {{ content }}
          </div>


          <h3>
              <div>
                  <strong>🆕 What's New! </strong>
                  <span style="float: right">🔙 <a href="news"> <font color="#006600">
                      <small>Past News</small></font> </a></span>
              </div>
          </h3>

          <p class="blog-post-list">
          {% for post in site.tags['news'] limit:3 %}
          {% if post.draft != true %}
          <span class="blog-post-date"> {{ post.date | date: "%b %d, %Y" }} </span>
          <span class="blog-post-cont"> {{ post.cont }} </span>
          <a href="{{ post.url | prepend: site.baseurl }}" class="blog-post-title">
              {{ post.title }} @{{ post.place }}
          </a>
          <br/>
          {% endif %}
          {% endfor %}
          </p>

          <h3>
              <div>
                  <strong>🔜 Comming Soon... </strong>
              </div>
          </h3>

          <p class="blog-post-list">
          {% for post in site.tags['soon'] reversed limit:5 %}
          {% if post.draft != true %}
          <span class="blog-post-date"> {{ post.date | date: "%b %d, %Y" }}</span>
          <span class="blog-post-cont"> {{ post.cont }} </span>
          <a href="{{ post.url | prepend: site.baseurl }}" class="blog-post-title">
              {{ post.title }} @{{ post.place }}
          </a>
          <br/>
          {% endif %}
          {% endfor %}
          </p>


        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}

  </body>
</html>
