<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include header_jp.html %}

  <div class="page-content">
    <div class="wrapper">
      <div class="memo">
        <article>
          <div class="mainbar">
            <!-- Main -->
            <h1 class="page-heading">{{ page.title }}</h1>
            {{ content }}
            <!-- Cateegory - Matlab -->
            <h1 id="Matlab" class="page-subheading"> Matlab </h1>
            <p class="memo-post-list">
              {% for post in site.tags['memo'] %}
              {% if post.category == 'jp' %}
              {% if post.cont == 'Matlab' %}
              {% if post.draft != true %}
              <!-- <span class="blog-post-date">{{ post.date | date: "%-m/%-d/%y" }}</span> -->
              <bold> ー </bold>
              <a href="{{ post.url | prepend: site.baseurl }}" class="memo-post-title">
                {{ post.title_jp }}
              </a>
              <br/>
              {% endif %}
              {% endif %}
              {% endif %}
              {% endfor %}
            </p>

            <!-- Category - Matlab -->
            <h1 id="GitHub" class="page-subheading"> GitHub </h1>
            <p class="memo-post-list">
              {% for post in site.tags['memo'] %}
              {% if post.category == 'jp' %}
              {% if post.cont == 'GitHub' %}
              {% if post.draft != true %}
              <bold> ー </bold>
              <a href="{{ post.url | prepend: site.baseurl }}" class="memo-post-title">
                {{ post.title_jp }}
              </a>
              <br/>
              {% endif %}
              {% endif %}
              {% endif %}
              {% endfor %}
            </p>

            <!-- Category - Matlab -->
            <h1 id="Links" class="page-subheading"> Links </h1>
            <p class="memo-post-list">
              {% for post in site.tags['memo'] %}
              {% if post.category == 'jp' %}
              {% if post.cont == 'Links' %}
              {% if post.draft != true %}
              <bold> ー </bold>
              <a href="{{ post.url | prepend: site.baseurl }}" class="memo-post-title">
                {{ post.title_jp }}
              </a>
              <br/>
              {% endif %}
              {% endif %}
              {% endif %}
              {% endfor %}
            </p>

          </div>

          <div class="line"> </div>

          <!-- sidebar -->
          {% include sidebar_category.html %}

        </article>
      </div>
    </div>
  </div>



  {% include footer.html %}

  {% include foot.html %}
</body>
</html>
