<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include header.html %}

  <div class="page-content">
    <div class="wrapper">
      <div class="blog">
        <article>
              <div class="mainbar">


          <h1 class="page-heading">{{ page.title }}</h1>
          {{ content }}

          <!-- 2022 -->
          <h2 id="2022"> 2022 </h2>
          <p class="blog-post-list">
            {% for post in site.tags['news'] %}
            {% if post.draft != true %}
            {% if post.year == 2022 %}
            <span class="blog-post-date"> {{ post.date | date: "%0m.%0d" }}</span>
            <span class="blog-post-cont"> {{ post.cont }}</span>
            <a href="{{ post.url | prepend: site.baseurl }}" class="blog-post-title">
              {{ post.title }} @{{ post.place }}
            </a>
            <br/>
            {% endif %}
            {% endif %}
            {% endfor %}
          </p>

          <!-- 2021 -->
          <h2 id="2021"> 2021 </h2>
          <p class="blog-post-list">
            {% for post in site.tags['news'] %}
            {% if post.draft != true %}
            {% if post.year == 2021 %}
            <span class="blog-post-date"> {{ post.date | date: "%0m.%0d" }}</span>
            <span class="blog-post-cont"> {{ post.cont }}</span>
            <a href="{{ post.url | prepend: site.baseurl }}" class="blog-post-title">
              {{ post.title }} @{{ post.place }}
            </a>
            <br/>
            {% endif %}
            {% endif %}
            {% endfor %}
          </p>

          <!-- 2020 -->
          <h2 id="2020"> 2020 </h2>
          <p class="blog-post-list">
            {% for post in site.tags['news'] %}
            {% if post.draft != true %}
            {% if post.year == 2020 %}
            <span class="blog-post-date"> {{ post.date | date: "%0m.%0d" }}</span>
            <span class="blog-post-cont"> {{ post.cont }}</span>
            <a href="{{ post.url | prepend: site.baseurl }}" class="blog-post-title">
              {{ post.title }} @{{ post.place }}
            </a>
            <br/>
            {% endif %}
            {% endif %}
            {% endfor %}
          </p>
        </div>

        <div class="line"> </div>

        {% include sidebar_year_en.html %}

      </article>
    </div>
  </div>

{% include footer.html %}

{% include foot.html %}
</body>
</html>
