<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include header_jp.html %}


  <div class="page-content">
    <div class="wrapper">
      <div class="work">
  <article>
    <div class="mainbar">
            <h1 class="page-heading">[{{page.cont}}] {{ page.title_jp }}</h1>
            {{ content }}
          </div>

    <!-- Line -->
    <div class="line"> </div>

    {% include sidebar_year.html %}
  </article>
</div>
</div>
</div>


  {% include footer.html %}

  {% include foot.html %}
</body>
</html>
